<div class="shop-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pierreplas.be/wp-content/uploads/2019/09/Pierre_Plas_Chocolatier.jpg);">
  <div class="container shop-index">
    <h1>Chocolate Shops</h1>
  </div>
</div>

<div class="shop-index">
  <div class="container cards">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop) do %>
        <div class="card-shop">
          <div>
            <img src="https://pierreplas.be/wp-content/uploads/2019/09/Coffret_Panachable-Pierre_Plas-1024x681.jpg" />
          </div>
          <div class="card-shop-infos">
            <h2><%= shop.name %></h2>
            <p><%= "#{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country} %"%> <i class="fas fa-map-marker-alt"></i></p>
            <p>Open now<i class="fas fa-check-circle"></i></p>
            <p>Review 5 stars</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <img id="map" src="https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png">
</div>
