<div class="shop-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pierreplas.be/wp-content/uploads/2019/09/Pierre_Plas_Chocolatier.jpg);">
  <div class="container shop-index">
    <h1>Chocolate Shops</h1>
  </div>
</div>


<div class="container shop-index">
  <div class="cards">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop) do %>
        <div class="card-shop">
          <div>
            <img src="https://pierreplas.be/wp-content/uploads/2019/09/Coffret_Panachable-Pierre_Plas-1024x681.jpg" />
          </div>
          <div class="card-shop-infos">
            <h2><%= shop.name %></h2>
          </div>
          <div class="card-shop-address">
            <p><%= "#{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country} %"%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
