// Specific CSS for your home-page
body {
  background: #F3EBDD;
  font-family: Dosis;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-family: Dosis;
  height: 450px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.links {
  font-weight: 900;
  font-size: 30px;
  margin-top: 30px;
}

a:hover {
  color: #7D5642;
  text-decoration: underline;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.search-bar {
  padding-right: 900px;
  padding-left: 180px;
  display: flex;
}

.content {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    // grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: #F3EBDD;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.question {
  padding-top: 40px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.choc-it-banner {
  display: flex;
  align: center;
  z-index: 4;
  margin: auto;
  width: 120px;
  height: 120px;
}

.input-choc-it-banner {
  width: 240px;
  height: 50px;
  outline: none;
  border: none;
  color: white;
  background: var(--color-brown);
  padding: 0 40px 0 10px;
  border-radius: 30px;
  z-index: 3;
  font-weight: bolder;
  letter-spacing: 0.1em;
  opacity: 0.7;
  position: absolute;
  right: 730px;
  bottom: 300px;
  &:hover {
    cursor: default;
  }
}

.avatar-choc-it-banner {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #7D5642 5px solid;
  z-index: 9;
  a {
    &:hover {
      cursor: pointer;
    }
  }
}
