<h1>Chocolate Bars!</h1>

<div >
  <% @bars.each do |bar| %>
    <div style="display: flex; justify-content: space-around; align-items: center; margin: 20px; border: 1px solid #2A2922; width: 800px;">
      <div style="width: 200px; height: 200px; background-color: #7D5642; border: 1px solid #506D2F">
      </div>
      <div style="width: 200px; height: 200px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h4><%= link_to bar.name, bar_path(bar) %></h4>
      </div>
      <div style="width: 200px; height: 200px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h3><%= "#{bar.percentage} %"%></h3>
      </div>
      <div style="width: 200px; height: 200px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h5><%= bar.origin %></h5>
      </div>
    </div>
  <% end %>
</div>

