<div class="choc-it">
  <% x = rand(1..15) %>
  <%= link_to image_tag("i-choc_#{x}.jpg", class: "avatar-choc-it"), "/choc_its/new" %>
  <button class="input-choc-it">Start tasting here<i class="fas fa-long-arrow-alt-right"></i></button>
</div>
