<div class="footer">
  <div class="footer-links">
    <a href="/about"><i class="fas fa-info-circle"></i></a>
    <a href="/about"><i class="fab fa-facebook-square"></i></a>
    <a href="/about"><i class="fab fa-twitter-square"></i></a>
    <a href="/about"><i class="fab fa-snapchat-square"></i></a>
  </div>
  <div class="footer-quote">
    <% @quotes = Quote.all %>
    <% size = @quotes.length - 1 %>
    <% random = rand(0..size) %>
    <p>"<%= @quotes[random].content %>" - <span><%= @quotes[random].source %></span></p>
  </div>
  <div class="footer-dummy"></div>
</div>
