<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Created with passion by chocolate lovers
  <%= link_to "/", class: "footer-brand" do %>
    <%= image_tag "https://darcis.com/eshop/img/logo-darcis.svg" %>
  <% end %>
  </div>
</div>
