<div class="full-blog">
  <div class="header">
    <h1><strong>Become a CHOC pro</strong></h1>
  </div>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://geospatialmedia.s3.amazonaws.com/wp-content/uploads/2017/07/Chocolate-consumption-by-country-2014_strict_xxl.jpg);">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">What is the origin of cocoa and which are the top producing countries in the world?</h3>
        <p>The cacao tree is native to the lowland rainforests of the Amazon basin and has been cultivated across South and Central America for thousands of years. It was first given its botanical name ‘theobroma cacao’, by Swedish natural scientist Carl Linnaeus in his original classification of the plant kingdom. The name Theobroma is taken from Greek and literally means “food of the Gods”.
          Cocoa beans were first brought over to Europe by Christopher Columbus, and then later, Hernán Cortés, who gave samples of cacao to King Charles of Spain in 1528. A cacao drink became extremely popular with the Spanish monarchy and the love of chocolate quickly spread across the whole of Europe.
          The production of cacao extended out of America and across the tropical regions around the equator, trying to supply the increasing global demand for chocolate. There are now nearly sixty countries growing cacao around the world.</p>
        <button type="button" class="btn btn-outline-secondary">Read more</button>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1517578239113-b03992dcdd25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">How many varieties of cocoa beans can we find?</h3>
        <p>The three main varieties of cocoa plant are <strong>Forastero, Criollo, and Trinitario</strong>. The first is the most widely used, comprising 80–90% of the world production of cocoa. Cocoa beans of the Criollo variety are rarer and considered a delicacy.
          Criollo plantations have lower yields than those of Forastero, and also tend to be less resistant to several diseases that attack the cocoa plant, hence very few countries still produce it. One of the largest producers of Criollo beans is Venezuela (Chuao and Porcelana).
          Trinitario (from Trinidad) is a hybrid between Criollo and Forastero varieties. It is considered to be of much higher quality than Forastero, has higher yields, and is more resistant to disease than Criollo.</p>
        <button type="button" class="btn btn-outline-secondary">Read more</button>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://www.edenhall.co.uk/documents/brick-image/penrice-chocolate-936.jpg);">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">How is chocolate made?</h3>
        <p>Cacao pods are harvested by cutting them from the tree using a machete, or by knocking them off the tree using a stick. The beans with their surrounding pulp are removed from the pods and placed in piles or bins, allowing access to micro-organisms so fermentation of the pectin-containing material can begin.
          The dried beans are then transported to a chocolate manufacturing facility. The beans are cleaned, roasted, and graded. Next, the shell of each bean is removed to extract the nib. Finally, the nibs are ground and liquefied, resulting in pure chocolate in fluid form: chocolate liquor.</p>
        <button type="button" class="btn btn-outline-secondary">Read more</button>
      </div>
    </div>
       <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1559062445-6187ecbd7b0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">How to taste chocolate?</h3>
        <p>Tasting is not the same as eating.
          The ‘Chocolate Tasting Ritual’ allows to experience the full range of chocolate delights with the 5 senses: sight, touch, hearing, smell and taste. Discover the richness of a chocolate tasting experience.
          'We don’t see things as they are, we see things as we are', including our backgrounds, preferences, characters etc.
          Use your five senses, become a passionate chocolate taster, discover how to describe chocolate and share your experiences.</p>
        <button type="button" class="btn btn-outline-secondary">Read more</button>
      </div>
    </div>
       <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1538928760374-76c912ceddb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">How to pair chocolate?</h3>
        <p>That moment we take our first bite of a fine chocolate bar, letting it melt onto our tongue, we are tasting happiness. But there’s no reason to limit our experiences! Why eat fine chocolate on its own, when we can combine it with other specialty foods and drinks for a whole new flavor experience?
          We could eat chocolate on its own all day long, but it’s one of those foods that skyrockets to a whole new level of amazingness when paired correctly with another compatible flavor profile — kind of like a fine wine. Mmmmm — chocolate and wine. See what we mean?
          We’ve got the hookup on unexpected — yet yummy — chocolate flavor combos.</p>
        <button type="button" class="btn btn-outline-secondary">Read more</button>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->


<div class="container-blog">
    <div class="tile">
      <div class="text1">
      <h2><strong>Which are the top cocoa producing countries in the world?</strong></h2>
      <p>There are approximately 5.2 million tonnes of cocoa beans produced every year, supplying an ever-increasing worldwide demand for chocolate. The global chocolate market was valued at USD 103.28 billion in 2017 and expected to grow to around USD 161.56 billion by 2024.
        So which countries are feeding this huge demand and satisfying the worldwide love of cocoa and chocolate?
        Here are the top 10 cocoa producing countries in 2017 according to the Food and Agriculture Organisation of the United Nations: <strong>Ivory Coast, Ghana, Indonesia, Nigeria, Cameroon, Brazil, Ecuador, Peru, The Dominican Republic and Colombia.</strong>
        While many nations produce cocoa beans, there are a few that stand out from the pack. One of those is Cote d’Ivoire. This nation is responsible for 30% of the world’s cocoa. Familiar brands like Cadbury and Nestle mostly source their cocoa from this country.
        Ghana is another top producer of cocoa. The production of cocoa contributes significantly to the nation’s GDP. Unfortunately, operational costs have become a problem in recent years, leading to cocoa smuggling to the Ivory Coast.
        Indonesia is relatively new to the cocoa industry, only ramping up producting during the 1980s. Today, the nation is one of the top producers in the world.</p>
    </div>
    </div>
    <div class="tile">

        <img src="https://images.unsplash.com/photo-1552404767-1dc7187feef6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    </div>
    <div class="tile">
        <img src="https://images.unsplash.com/photo-1580202770078-7eeeeb3e6573?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">

    </div>
    <div class="tile">
        <img src="https://www.iso.org/files/live/sites/isoorg/files/news/News_archive/2019/05/Ref2387/Ref2387.jpg/thumbnails/800x600">
    </div>
    <div class="tile">
      <div class="text1">
        <h4><strong>Ivory Coast</strong></h4>
        <p>Ivory Coast (Côte d'Ivoire) leads the world in production and export of the cocoa beans used in the manufacture of chocolate, as of 2012, supplying 38% of cocoa produced in the world. West Africa collectively supplies two thirds of the world's cocoa crop, with Ivory Coast leading production at 1.8 million tonnes as of 2017, and nearby Ghana, Nigeria, Cameroon and Togo producing additional 1.55 million tonnes.
          Ivory Coast overtook Ghana as the world's leading producer of cocoa beans in 1978, and today is highly dependent on the crop, which accounts for 40% of national export income.
          The primary non-African competitor of Ivory Coast is Indonesia, which went from having almost nonexistent domestic cocoa industry in the 1970s to becoming one of the largest producers in the market by the early 2000s.</p>
    </div>
  </div>
</div>
</div>
