<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1573710661345-610f790e1218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container" style="width: 800px !important;">
    <h1>Discover amazing chocolate experiences</h1>
    <p>We can guide you to the perfect chocolate bar for you</p>
  </div>
  <div class="choc-it-banner">
    <% x = rand(1..15) %>
    <div class="input-choc-it-banner"><p>Choc It! <i class="fas fa-long-arrow-alt-right"></p></i></div>
    <%= link_to image_tag("i-choc_#{x}.jpg", class: "avatar-choc-it-banner"), "/shops" %>
    <div class="input-choc-it-banner"></div>
  </div>
</div>

<div class="home-links">
  <nav>
    <a class="btn-ghost" href="#">Choc me!</a>
    <a class="btn-ghost" href="/blog">Become a choc pro</a>
  </nav>
</div>

<div class="arguments">
  <div class="count-bar">
      <img src="https://img.icons8.com/wired/64/000000/chocolate-bar.png" class="chocbar"/>
      <p>More than 2300 chocolate bars reviewed</p>
  </div>
  <div class="count-shop">
    <img src="https://img.icons8.com/carbon-copy/100/000000/shop.png" class="chocstore"/>
    <p>A total of 1200 shops all around Belgium</p>
  </div>
</div>

<div class="top-rated-bars">

</div>
