<div class="full404" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://sa.kapamilya.com/absnews/abscbnnews/media/ancx/food-n-drink/2018/12/chocolatebanner.jpg);">
  <span class="error">500</span>
  <div class="bordererror"></div>
  <h3 class="h3-not-found">Something went wrong!</h3>
  <h4 class="h4-not-found">But, please, don't blame it on chocolate!</h4>
  <a class="link-not-found" href="/">Click here to get back home safely</a>
</div>
