<div class="full404" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://image.freepik.com/foto-gratis/restos-crema-chocolate_72772-12909.jpg);">
  <span class="error">404</span>
  <div class="bordererror"></div>
  <h3 class="h3-not-found">Looks like you landed in the wrong place!</h3>
  <h4 class="h4-not-found">Perhaps this page used to exist, but then it was deleted, or it never existed at all!</h4>
  <a class="link-not-found" href="/">Click here to get back home safely</a>
</div>
