.shop-banner {
  background-size: cover;
  background-position: center;
  background-position: center;
  padding: 50px 0;
  height: 150px;
  margin-bottom: 20px;
}

.shop-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.shop-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.shop-index-banner {
  background-size: cover;
  background-position: center;
  background-position: center;
  padding: 50px 0;
  height: 150px;
  margin-bottom: 20px;
}

.shop-index-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.shop-index-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.bar-banner {
  background-size: cover;
  background-position: center;
  background-position: center;
  padding: 50px 0;
  height: 150px;
  margin-bottom: 20px;
}

.bar-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.bar-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
