.shop-index {
  display: flex;
  padding-right: 20px;
  margin-top: 70px;
}

#map {
  position: sticky;
  top: 88px;
  margin-top: 20px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: none;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 1200px) {
  .shop-index {
    .cards {
      // grid-template-columns: 1fr;
      // grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

.cards {
  display: grid;
  grid-gap: 16px;
}

.card-shop {
  border-radius: 5px;
  height: 125px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  background: #7D5642;
}

.card-shop img {
  height: 80%;
  width: 100px;
  object-fit: cover;
  padding-left: 10px;
  border-radius: 10px;
}


.card-shop h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #F3EBDD;
}

.card-shop p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
  color: #F3EBDD;
}

.card-shop-address {
  text-align: center;
  color: #F3EBDD;
}

.card-shop .card-shop-infos {
  padding: 16px;
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.bar-index {
  display: flex;
  justify-content: space-between;
}

.bar-container {
  padding: 0 20px;
  flex-grow: 1;
}

.card-bar {
  border-radius: 0px;
  height: 360px;
  width: 270px;
  background: #2A2922;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0px;
  margin: 20px;
}

.favourite-true {
  position: relative;
  top: -18px;
  left: 245px;
  background-image: asset-url('favourite-true.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}

.favourite-false {
  position: relative;
  top: 0px;
  left: 240px;
  background-image: asset-url('favourite-false.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}

.card-bar-name {
  width: 270px;
  height: 60px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card-bar-name-h2 {
  display: flex;
  background-color: #7D5642;
  width: 170px;
  height: 60px;
  padding: 0;
  border-radius: 0 30px 30px 0;
}

.card-bar-name-h2 h2 {
  color: #F3EBDD;
  margin: auto auto auto 5px;
  font-size: 15px;
  font-weight: bold;
  }

.card-bar-rating {
  display: flex;
  width: 100px;
  height: 60px;
  padding: 0;
  padding-top: 10px;
}

.card-bar-rating p {
    color: gold;
    margin: auto;
    font-size: 10px;
    letter-spacing: 0px;
    text-align: center;
 }

 .fas {
  margin: 0 !important;
 }

 .fa-star {
  margin: 0 !important;
 }

.card-bar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bar-info {
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 170px;
}

.card-bar-grid {
  background-color: #506D27;
  width: 170px;
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  padding: 10px;
  color: white;
}

.card-bar-item {
  img {
    width: 30px;
    height: 30px;
    padding: auto;
    font-size: 10px;
    letter-spacing: 1px;
  }
}

.card-bar-item-bean-logo {
  grid-area: 1 / 1 / span 1 / span 1;
}

.card-bar-item-bean-content {
  grid-area: 1 / 2 / span 1 / span 1;
}

.card-bar-item-perc-logo {
  grid-area: 2 / 1 / span 1 / span 1;
}

.card-bar-item-perc-content {
  grid-area: 2 / 2 / span 1 / span 1;
}

.card-bar-item-origin-logo {
  grid-area: 3 / 1 / span 1 / span 1;
}

.card-bar-item-origin-content {
  grid-area: 3 / 2 / span 1 / span 1;
}

.card-bar-pict {
  background-position: center center;
  width: 100px;
  height: 170px;
  background-repeat: no-repeat;
  background-color: #506D2F;
  display: flex;
}

.card-bar-pict img {
  margin: auto 0 auto auto;
  max-width: 100%;
  max-height: 100%;
}

.cards{
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.card-bar .card-bar-infos {
  padding: 16px;
}

// Bar show cards

.card-product {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid #7D5642;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 15px;
  border: 2px solid #7D5642;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-left: 75px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.containerinfos {
  display: flex;
  padding-top: 75px;
}


.bar-reviews {
  padding-top: 50px;
}

.bar-reviews h4 {
  color: #506D2F;
  margin-bottom: 25px;
}

.shop-reviews {
  padding-top: 50px;
}

.shop-reviews h4 {
  color: #506D2F;
  margin-bottom: 25px;
}
