.shop-index {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

@media (min-width: 100px) and (max-width: 575px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: none;
    }
  }
}

@media (min-width: 576px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
}

@media (min-width: 1200px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
}

.cards {
  display: grid;
  grid-gap: 16px;
}

.card-shop {
  overflow: hidden;
  border-radius: 5px;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-shop img {
  height: 30%;
  width: 100px;
  object-fit: cover;
  padding-left: 5px;
  border-radius: 10px;
}

.card-shop h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-shop p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-shop-address {
  text-align: left;
}

.card-shop .card-shop-infos {
  padding: 16px;
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}


.card-bar {
  overflow: hidden;
  border-radius: 5px;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-bar img {
  height: 30%;
  width: 100px;
  object-fit: cover;
  padding-left: 5px;
  border-radius: 10px;
}

.card-bar h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards{
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.card-bar .card-bar-infos {
  padding: 16px;
}

// Bar show cards

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid #7D5642;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 15px;
  border: 2px solid #7D5642;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}

.whereto {
  margin-right: 150px;
  margin-top: -200px;
}
