.shop-index {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

@media (min-width: 100px) and (max-width: 575px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: none;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 576px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 1200px) {
  .shop-index {
    .cards {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 150px;
    }
    #map {
    display: block;
    }
  }
  .bar-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}



.cards {
  display: grid;
  grid-gap: 16px;
}

.card-shop {
  overflow: hidden;
  border-radius: 5px;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-shop img {
  height: 30%;
  width: 100px;
  object-fit: cover;
  padding-left: 5px;
  border-radius: 10px;
}

.card-shop h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-shop p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-shop-address {
  text-align: left;
}

.card-shop .card-shop-infos {
  padding: 16px;
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.card-bar {
  border-radius: 15px;
  height: 360px;
  width: 270px;
  background: #2A2922;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px 0 0;
}

.favourite-true {
  top: -10px;
  right: -10px;
  background-image: asset-url('favourite-true.png');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.favourite-false {
  top: 0px;
  right: 0px;
  background-image: asset-url('favourite-false.png');
  background-size: cover;
  width: 30px;
  height: 30px;
}

.card-bar-name {
  width: 270px;
  height: 60px;
  display: flex;
  vertical-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-bar-name h2 {
  display: flex;
  background-color: #7D5642;
  color: #F3EBDD;
  width: 170px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  text-align: left;
  vertical-align: center;
  padding: auto 10px;
  margin: auto 0;
}

.card-bar-rating {
  width: 100px;
  height: 60px;
  text-align: right;
  padding: auto 20px auto 20px;
  margin: auto 0;
  padding: 20px 10px 0;
}

.card-bar p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bar-info {
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 150px;
}

.card-bar-grid {
  background-color: #506D27;
  width: 170px;
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  padding: 10px;
  color: white;
}

.card-bar-item {
  img {
    width: 30px;
    height: 30px;
  }
}

.card-bar-item-bean-logo {
  grid-area: 1 / 1 / span 1 / span 1;
}

.card-bar-item-bean-content {
  grid-area: 1 / 2 / span 1 / span 1;
}

.card-bar-item-perc-logo {
  grid-area: 2 / 1 / span 1 / span 1;
}

.card-bar-item-perc-content {
  grid-area: 2 / 2 / span 1 / span 1;
}

.card-bar-item-origin-logo {
  grid-area: 3 / 1 / span 1 / span 1;
}

.card-bar-item-origin-content {
  grid-area: 3 / 2 / span 1 / span 1;
}

.card-bar-pict {
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: asset-url('logo_1.png');
  background-color: #506D2F;
}


.cards{
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.card-bar .card-bar-infos {
  padding: 16px;
}

// Bar show cards

.card-product {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 2px solid #7D5642;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 15px;
  border: 2px solid #7D5642;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  margin-left: 75px;
}

.whereto {
  margin-right: 150px;
  position: relative;
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
  text-align: center;
}

.whereto h4 {
  color: #506D2F;
  margin-bottom: 25px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

.table-striped {
  width: 500px;
  border-style: solid;
  border-color: #7D5642;
  text-align: center;
  margin-left: 100px;
}

.table-striped h5 {
  color: #2A2922;
  padding-top: 25px;
}

.table-striped p {
  color: #2A2922;
  padding-top: 25px;
}

.table-row {
  height: 100px;
}

.containerinfos {
  display: flex;
  padding-top: 75px;
}


.bar-reviews {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 75px;
}

.bar-reviews h4 {
  color: #506D2F;
  margin-bottom: 25px;
}

.shop-reviews {
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 75px;
}

.shop-reviews h4 {
  color: #506D2F;
  margin-bottom: 25px;
}
