.dashboard-container {
  display: flex;
}

.dash-column-1 {
  width: 50%;
  flex-wrap: wrap;
}

.dash-column-2 {
  width: 50%;
  flex-wrap: wrap;
}

.dash-cards {
  max-height: 50vh;
  overflow-y: scroll;
}

.dash-cards{
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.review {
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  #review-content {
    padding: 5px 0px 5px 5px;
  }
  #review-rating {
    display: grid;
    padding: 5px 2px 5px 2px;
    text-align: center;
  }
  p {
    margin: 0px;
  }
}
