.dashboard-container {
  display: flex;
  .card-shop {
    margin: 16px;
  }
  .card-bar {
    margin: 16px;
  }
}

.dash-column-1 {
  width: 50%;
  flex-wrap: wrap;
}

.dash-column-2 {
  width: 50%;
  flex-wrap: wrap;
}

.dash-cards {
  max-height: 50vh;
  overflow-y: scroll;
}

.dash-cards{
  a {
    color: #7D5642;
  }
  a:hover {
    color: #506D2F;
    text-decoration: none;
  }
}

.review {
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  #review-content {
    width: 75%;
  }
  #review-rating {
    width: 15%;
    text-align: center;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px 50px 15px 0px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
