// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "banner";
@import "forms";
@import "shopindex";
@import "dashboard";
@import "barshow";
@import "search";

:root {
  --color-green: #506D2F;
  --color-dark: #2A2922;
  --color-light: #F3EBDD;
  --color-brown: #7D5642;
}

@import "shopshow";
@import "map";
