.mapboxgl-popup {
  max-width: 200px;
  background: transparent;
  border-radius: 5px;
}

.mapboxgl-popup-tip{
  background: #7d5641;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Dosis';
  background: #7d5641 !important;
  color: #F3EBDD !important;
  &:hover{
    background: #2d1306 !important;
  }
}

.shop-name-map {
  text-decoration: none;
  color: white !important;
  h3{
    color: #f3ebdd;
  }
  &:hover{
    text-decoration: none;
  }
}



.info-window-details p {
  font-size: 18px;
  margin-top: 17px;
}

.top-rated{
  color: wheat;
}
