.navbar-lewagon {
  justify-content: space-between;
  background: #2A2922;
  color: #F3EBDD;
  opacity: .95;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav {
  justify-content: space-between;
  background: #F3EBDD;
  font-family: Dosis;
  justify-content: flex-start
}

.nav-link {
  background: #2A2922;
  color: #F3EBDD;
}
.nav-link:hover {
  background: #2A2922;
  color: white;
}

a.nav-link:active {
  background: #2A2922;
  color: #F3EBDD;
}

i {
  margin-left: 10px;
}

.navbars {
  justify-content: flex-start;
}

.dropshops {
  position: relative;
}

.dropbars {
  position: relative;
}

.logo {
  display: flex;
  flex-direction: column;
}

.dropdown-menu-right {
  background: #7D5642;
  color: #F3EBDD;
  font-family: 'Dosis';
  border-radius: 5px;
}

.dropdown-item {
  color: #F3EBDD;
}

.dropdown-item:hover {
  background: #F3EBDD;
  color: #7D5642;
  font-family: 'Dosis';
  border-radius: 5px;
}

.choc {
  margin-bottom: -8px;
  color: white;
}

.show > .customButton:focus{
  background: #2A2922 !important;
  color: #F3EBDD !important;
  box-shadow:none !important;
  border: none !important;
}

.customButton{
  box-shadow:none !important;
  border: none !important;
}

.navbar-light .navbar-nav .customButton.white {
  color: #F3EBDD;
  &:hover {
    color: white;
  }
}
