.navbar-lewagon {
  justify-content: space-between;
  background: #F3EBDD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav {
  justify-content: space-between;
  background: #F3EBDD;
  font-family: Dosis;
}

.nav-link {
  color: #2A2922;
}

i {
  margin-right: 10px;
}
