.bar-search {
  width: 400px;
  background-color: var(--color-light);
  padding: 10px;
  h5 {
    font-weight: bold;
    font-size: 18px;
  }
  margin-bottom: 30px;
  color: var(--color-dark);
}

.bar-search-perc {
  padding: 0 20px;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
  form {
    padding-left: 20px;
  }
}

.bar-search-bean, .bar-search-origin, .bar-search-rating {
  padding: 0 20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}

.search-item {
  height: 25px;
  border-radius: 15px;
  background: var(--color-brown);
  color: var(--color-light);
  flex-grow: 1;
  padding: 4px 5px 0;
  text-align: center;
  font-size: 13px;
}

.search-item:hover {
  font-weight: bold;
}

.search-item:active {
  background: var(--color-green);
  color: var(--color-light);
}

.search-item-rating i {
  font-size: 8px;
  letter-spacing: 1px;
}
