.shop-container {
  display: flex;
}

.shop-column-1 {
  width: 70%;
  padding-top: 25px;
  .shop-description {
    width: 95%;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #7D5642;
  }
  .shop-description h3 {
    font-family: 'Bellota Text';
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .shop-description p {
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
   .shop-informations {
    width: 100%;
  }
}

.shop-column-2 {
  width: 30%;
  padding-top: 25px;
  img {
    width: 100%;
  }
}

.shop-informations {
  background-color: #506D2F;
  padding: 10px;
  border-top: 5px;
  max-height: 60vh;
  opacity: 0.9;
  h3 {
    text-align: right;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  p {
    text-align: right;
    color: white;
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  h5 {
    text-align: right;
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
  }
  .day-container {
    display: flex;
  }
  .days {
    width: 25%;
    opacity: .7;
  }
  .hours {
    width: 75%;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.chocolate-offering {
  h3 {
    font-family: 'Dosis';
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    color: #7D5642;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px 50px 15px 0px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

